<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ke'ena Space</title>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.mobile-1.4.5.js"></script>
    <link rel="stylesheet" href="default/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="default/keenaspace.css">
</head>
<body>
<div class="container">
    <div data-role="tabs" id="tabs">
        <div data-role="navbar">
            <ul>
                <li><a href="#dashboard" data-ajax="false" class="ui-btn-active">Dashboard</a></li>
                <li><a href="#availability" data-ajax="false">Apply Leave</a></li>
            </ul>
        </div>
        <div id="dashboard" class="ui-body-d ui-content tabDivSpace">
            <table data-role="table" id="table-custom-2" data-mode="columntoggle"
                   class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b"
                   data-column-popup-theme="a">
                <thead>
                <tr class="ui-bar-d">          
                    <th data-priority="1">Manager Name</th>
                    <th data-priority="1">Seat Number</th>
                    <th data-priority="1">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Umesh Tiwari</td>
                    <td>HD-12-236</td>
                    <td><a class="ui-btn ui-corner-all">Reserve</a></td>
                </tr>
                <tr>
                    <td>Umesh Tiwari</td>
                    <td>HD-12-236</td>
                    <td><a class="ui-btn ui-corner-all">Reserve</a></td>
                </tr>
                <tr>
                    <td>Umesh Tiwari</td>
                    <td>HD-12-236</td>
                    <td><a class="ui-btn ui-corner-all">Reserve</a></td>
                </tr>
                <tr>
                    <td>Umesh Tiwari</td>
                    <td>HD-12-236</td>
                    <td><a class="ui-btn ui-corner-all">Reserve</a></td>
                </tr>
                <tr>
                    <td>Umesh Tiwari</td>
                    <td>HD-12-236</td>
                    <td><a class="ui-btn ui-corner-all">Reserve</a></td>
                </tr>
                <tr>
                    <td>Umesh Tiwari</td>
                    <td>HD-12-236</td>
                    <td><a class="ui-btn ui-corner-all">Reserve</a></td>
                </tr>
                <tr>
                    <td>Umesh Tiwari</td>
                    <td>HD-12-236</td>
                    <td><a class="ui-btn ui-corner-all">Reserve</a></td>
                </tr>
                <tr>
                    <td>Umesh Tiwari</td>
                    <td>HD-12-236</td>
                    <td><a class="ui-btn ui-corner-all">Reserve</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="availability" class="ui-body-d ui-content tabDivSpace">
            <label class="inlineblock" for="flip-checkbox-3">Self</label>
            <input class="inlineblock" type="checkbox" data-role="flipswitch" name="flip-checkbox-3"
                   id="flip-checkbox-3" data-on-text="" data-off-text="" data-wrapper-class="custom-size-flipswitch">
            <label class="inlineblock" for="flip-checkbox-3">Team Member</label>

            <fieldset data-role="controlgroup" data-mini="true">
                <legend>Vertical, icon right, mini sized:</legend>
                <input type="radio" name="radio-choice-v-6" id="team-member-1" value="on" checked="checked">
                <label for="team-member-1">Robo</label>
                <input type="radio" name="radio-choice-v-6" id="team-member-2" value="off">
                <label for="team-member-2">Subrat</label>
                <input type="radio" name="radio-choice-v-6" id="team-member-3" value="other">
                <label for="team-member-3">Athreya</label>
            </fieldset>

            <label class="inlineblock">Select Date</label>
            <input type="text" data-role="date" data-inline="true">

            <a href="#" class="ui-btn ui-btn-a">Mark Seat as Available</a>
        </div>
    </div>
</body>
</html>