<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ke'ena Space</title>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.mobile-1.4.5.js"></script>
    <script src="js/keenaspace.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <link rel="stylesheet" href="default/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="default/keenaspace.css">
    <style>
        .no-js #loader { display: none;  }
        .js #loader { display: block; position: absolute; left: 100px; top: 0; }
        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: url(default/images/loader3.gif) center no-repeat #fff;
            background-color: rgba(255, 255, 255, 0.7);
        }
        </style>
</head>
<body>
<div class="container" id="containerDiv">
    <span id="welcome_message" class="WelcomeMessage"></span>
    <div data-role="tabs" id="tabs">
        <div data-role="navbar">
            <ul>
                <li><a href="#dashboard" data-ajax="false" class="ui-btn-active">Dashboard</a></li>
                <li><a href="#availability" data-ajax="false" onclick="getTeamMembers()">Release
                    Seat</a></li>
            </ul>
        </div>
        <div id="dashboard" class="ui-body-d ui-content tabDivSpace">

            <div id="booked-seat">
                <h2>Your Booked Seat</h2>
                <table data-role="table" id="table-booked-seat" data-mode="columntoggle"
                       class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b"
                       data-column-popup-theme="a">
                    <thead>
                    <tr class="ui-bar-d">          
                        <th data-priority="1">Owner</th>
                        <th data-priority="1">Seat Number</th>
                        <th data-priority="1">Action</th>
                    </tr>
                    </thead>
                    <tbody id="table-booked-seat-body">
                    </tbody>
                </table>
            </div>

            <h2>Currently Available Seat</h2>
            <table data-role="table" id="table-custom-2" data-mode="columntoggle"
                   class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b"
                   data-column-popup-theme="a">
                <thead>
                <tr class="ui-bar-d">          
                    <th data-priority="1">Manager Name</th>
                    <th data-priority="1">Seat Number</th>
                    <th data-priority="1">Action</th>
                </tr>
                </thead>
                <tbody id="table-custom-2-body">
                </tbody>
            </table>
        </div>
        <div id="availability" class="ui-body-d ui-content tabDivSpace">
            <label class="inlineblock" for="flip-checkbox-3" style="margin-right: 15px;">Self</label>
            <input class="inlineblock" type="checkbox" data-role="flipswitch" name="flip-checkbox-3"
                   id="flip-checkbox-3" data-on-text="" data-off-text="" data-wrapper-class="custom-size-flipswitch">
            <label class="inlineblock" for="flip-checkbox-3" style="margin-left: 15px;">Team Member</label>

            <div data-role="controlgroup" data-mini="true" id="teamMembersList">
                <legend>Team Members:</legend>
                <div id="team-member"></div>
            </div>

            <div class="datePickerDivRegion">
                <label class="inlineblock">From</label>
                <input type="text" class="date-input-inline inlineblock" data-inline="true" data-role="date">
            </div>
            <div class="datePickerDivRegion">
                <label class="inlineblock">To</label>
                <input type="text" class="date-input-inline inlineblock" data-inline="true" data-role="date">
            </div>

            <a href="#" class="ui-btn ui-btn-a">Mark Seat as Available</a>
        </div>
    </div>
</body>
<div class="se-pre-con"></div>
<script>
    $(document).ready(function () {
        $("#teamMembersList").hide();
        $('#flip-checkbox-3').on('change', function () {
            if ($('#flip-checkbox-3').prop("checked")) {
                $("#teamMembersList").show();
            } else {
                $("#teamMembersList").hide();
            }
        });
    });
    $(function () {
        $(".date-input-inline").datepicker();
    });
</script>
</html>