<html>
<head>
    <title>Welcome</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <caption>Employee List</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Manager Name</th>
            <th>Seat Number</th>
            <th>Reserve</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Dwiguntej</td>
            <td>Umesh</td>
            <td>HD12-236</td>
            <td><a class="btn btn-warning" >Reserve</a></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a class="btn btn-default" href="/welcome">Add a Todo</a>

    </div>
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</div>
</body>
</html>